@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap'); 
@import "tailwindcss"; 

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: "Satoshi", sans-serif;
  --font-secondary: "Nunito Sans", Arial, Helvetica, sans-serif;
}

/* Remove default dd-mm-yyyy placeholder */
input[type="date"]:not(:focus):not([value])::-webkit-datetime-edit {
  color: transparent;
}


select option {
  background-color: #f3f4f6 !important; /* Tailwind gray-100 */
  color: black !important;
}


/* Remove the default calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-primary);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}

/* Utility class for changing font */
.font-secondary {
  font-family: var(--font-secondary);
}

/* Remove number input arrows */
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  -moz-appearance: textfield;
}
